// carrot color
$primary-color: #e67e22;
// navy color
$font-color: #19254b;
$black-color: #222222;
$border-color: #d2d2d2;
$gray-color: #565656;
$light-gray-color: #787878;
$silver-color: #eaeaea;

$font-size-xl: 48px;
$line-height-xl: 64px;
$font-size-lg: 32px;
$line-height-lg: 48px;
$font-size-md: 24px;
$line-height-md: 32px;
$font-size-sm: 16px;
$line-height-sm: 24px;
$font-size-xs: 14px;
$line-height-xs: 20px;
