/ jQuery
%script{:src => "voltage/js/jquery.min.js"}
/ jQuery Easing
%script{:src => "voltage/js/jquery.easing.1.3.js"}
/ Bootstrap
%script{:src => "voltage/js/bootstrap.min.js"}
/ Waypoints
%script{:src => "voltage/js/jquery.waypoints.min.js"}
/ Owl Carousel
%script{:src => "voltage/js/owl.carousel.min.js"}
/ Magnific Popup
%script{:src => "voltage/js/jquery.magnific-popup.min.js"}
/ Stellar
%script{:src => "voltage/js/jquery.stellar.min.js"}
/ countTo
%script{:src => "voltage/js/jquery.countTo.js"}
/ WOW
%script{:src => "voltage/js/wow.min.js"}
:javascript
  new WOW().init();
/ Main
%script{:src => "voltage/js/main.js"}
