#fh5co-page
  .fh5co-cover.fh5co-cover-style-2.js-full-height{"data-next" => "yes", "data-stellar-background-ratio" => "0.5", :style => "background-image: url(voltage/images/top.jpg);"}
    %span.scroll-btn.wow.fadeInUp{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
      %a{:href => "#"}
        %span.mouse
          %span
    .fh5co-overlay
    .fh5co-cover-text
      .container
        .row
          .col-md-6.full-height.js-full-height
            .fh5co-cover-intro
              %h1.cover-text-lead.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} Online branding with nishikoshi inc.
              %h2.cover-text-sublead.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} webサイトを活用して御社の魅力発信のお手伝いをさせていただきます。
  -# .fh5co-project-style-2
    .container
      .row.p-b
        .col-md-6.col-md-offset-3.text-center
          %h2.fh5co-heading.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} Our Best Projects
          %p.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
          %p.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
            %a.btn.btn-success.btn-lg{:href => "#"} Start your project
    .fh5co-projects
      %ul
        %li.wow.fadeInUp{"data-stellar-background-ratio" => "0.5", "data-wow-delay" => "1.4s", "data-wow-duration" => "1s", :style => "background-image: url(voltage/images/full_4.jpg);"}
          %a{:href => "#"}
            .fh5co-overlay
            .container
              .fh5co-text
                .fh5co-text-inner
                  .row
                    .col-md-6
                      %h3 Project Name #1
                    .col-md-6
                      %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        %li.wow.fadeInUp{"data-stellar-background-ratio" => "0.5", "data-wow-delay" => "1.7s", "data-wow-duration" => "1s", :style => "background-image: url(voltage/images/full_2.jpg);"}
          %a{:href => "#"}
            .fh5co-overlay
            .container
              .fh5co-text
                .fh5co-text-inner
                  .row
                    .col-md-6
                      %h3 Project Name #2
                    .col-md-6
                      %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        %li.wow.fadeInUp{"data-stellar-background-ratio" => "0.5", "data-wow-delay" => "2s", "data-wow-duration" => "1s", :style => "background-image: url(voltage/images/full_1.jpg);"}
          %a{:href => "#"}
            .fh5co-overlay
            .container
              .fh5co-text
                .fh5co-text-inner
                  .row
                    .col-md-6
                      %h3 Project Name #3
                    .col-md-6
                      %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
  .fh5co-blog-style-1
    .container
      .row.p-b
        .col-md-6.col-md-offset-3.text-center
          %h2.fh5co-heading.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} Recent From Blog
          %p.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .row.p-b
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12
          .fh5co-post.wow.fadeInLeft{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
            .fh5co-post-image
              .fh5co-overlay
              .fh5co-category
                %a{:href => "#"} Tutorial
              %img.img-responsive{:alt => "Image", :src => "voltage/images/img_same_dimension_2.jpg"}/
            .fh5co-post-text
              %h3
                %a{:href => "#"} How to Create Cards
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts...
            .fh5co-post-meta
              %a{:href => "#"}
                %i.icon-chat
                33
              %a{:href => "#"}
                %i.icon-clock2
                2 hours ago
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12
          .fh5co-post.wow.fadeInLeft{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
            .fh5co-post-image
              .fh5co-overlay
              .fh5co-category
                %a{:href => "#"} Health
              %img.img-responsive{:alt => "Image", :src => "voltage/images/img_same_dimension_3.jpg"}/
            .fh5co-post-text
              %h3
                %a{:href => "#"} Drinking Ginger and Lemon Tea
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts...
            .fh5co-post-meta
              %a{:href => "#"}
                %i.icon-chat
                33
              %a{:href => "#"}
                %i.icon-clock2
                2 hours ago
        .clearfix.visible-sm-block
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12
          .fh5co-post.wow.fadeInLeft{"data-wow-delay" => "1.7s", "data-wow-duration" => "1s"}
            .fh5co-post-image
              .fh5co-overlay
              .fh5co-category
                %a{:href => "#"} Tips
              %img.img-responsive{:alt => "Image", :src => "voltage/images/img_same_dimension_4.jpg"}/
            .fh5co-post-text
              %h3
                %a{:href => "#"} 4 Easy Steps to Create a Soup
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts...
            .fh5co-post-meta
              %a{:href => "#"}
                %i.icon-chat
                33
              %a{:href => "#"}
                %i.icon-clock2
                2 hours ago
        .clearfix.visible-sm-block
      .row
        .col-md-4.col-md-offset-4.text-center.wow.fadeInUp{"data-wow-delay" => "2s", "data-wow-duration" => "1s"}
          %a.btn.btn-primary.btn-lg{:href => "#"} View All Post
  .fh5co-features-style-1#aboutus{"data-stellar-background-ratio" => "0.5", :style => "background-image: url(voltage/images/full_4.jpg);"}
    .fh5co-overlay
    .container{:style => "z-index: 3; position: relative;"}
      .row.p-b
        .col-md-6.col-md-offset-3.text-center.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"}
          %h2.fh5co-heading about us
      .row
        .fh5co-features
          .fh5co-feature.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"}
            .icon
              %i.icon-ribbon
            %h3 Brand Strategy
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
          .fh5co-feature.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
            .icon
              %i.icon-image22
            %h3 Design + Idenity
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
          .fh5co-feature.wow.fadeInUp{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
            .icon
              %i.icon-monitor
            %h3 Web Development
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
          .fh5co-feature.wow.fadeInUp{"data-wow-delay" => "1.7s", "data-wow-duration" => "1s"}
            .icon
              %i.icon-video2
            %h3 Video Direction
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
          .fh5co-feature.wow.fadeInUp{"data-wow-delay" => "2s", "data-wow-duration" => "1s"}
            .icon
              %i.icon-bag
            %h3 E-Commerce Integration
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
          .fh5co-feature.wow.fadeInUp{"data-wow-delay" => "2.3s", "data-wow-duration" => "1s"}
            .icon
              %i.icon-mail2
            %h3 Email Strategy
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
  .fh5co-testimonial-style-2#works
    .container
      .row.p-b
        .col-md-6.col-md-offset-3.text-center
          %h2.fh5co-heading.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} works
          -# %p.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .row
        .col-md-4.col-sm-6.col-xs-12
          .fh5co-testimonial-item.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
            .fh5co-name
              %img{:alt => "", :src => "voltage/images/person_5.jpg"}/
              .fh5co-meta
                %h3 Chris Clark
                %span.fh5co-company XYZ Inc.
            .fh5co-text
              %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
  .fh5co-features-style-2#team
    .container
      .row.p-b
        .col-md-6.col-md-offset-3.text-center
          %h2.fh5co-heading.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} team
          -# %p.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
      .row
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-feature.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
          .fh5co-icon
            %i.icon-command
          .fh5co-desc
            %h3 100% Free
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-feature.wow.fadeInUp{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
          .fh5co-icon
            %i.icon-eye22
          .fh5co-desc
            %h3 Retina Ready
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .clearfix.visible-sm-block.visible-xs-block
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-feature.wow.fadeInUp{"data-wow-delay" => "1.7s", "data-wow-duration" => "1s"}
          .fh5co-icon
            %i.icon-toggle
          .fh5co-desc
            %h3 Fully Responsive
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-feature.wow.fadeInUp{"data-wow-delay" => "2s", "data-wow-duration" => "1s"}
          .fh5co-icon
            %i.icon-archive22
          .fh5co-desc
            %h3 Lightweight
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .clearfix.visible-sm-block.visible-xs-block
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-feature.wow.fadeInUp{"data-wow-delay" => "2.3s", "data-wow-duration" => "1s"}
          .fh5co-icon
            %i.icon-heart22
          .fh5co-desc
            %h3 Made with Love
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-feature.wow.fadeInUp{"data-wow-delay" => "2.6s", "data-wow-duration" => "1s"}
          .fh5co-icon
            %i.icon-umbrella
          .fh5co-desc
            %h3 Eco Friendly
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .clearfix.visible-sm-block.visible-xs-block
  -# .fh5co-pricing-style-2
    .container
      .row
        .row.p-b
          .col-md-6.col-md-offset-3.text-center
            %h2.fh5co-heading.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} Pricing Plans
            %p.wow.fadeInUp{"data-wow-delay" => ".7s", "data-wow-duration" => "1s"} Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .row
        .pricing
          .pricing-item.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
            %h3.pricing-title Basic
            %p.pricing-sentence Little description here
            .pricing-price
              %span.pricing-currency> $
              19
              %span.pricing-period / month
            %ul.pricing-feature-list
              %li.pricing-feature 10 presentations/month
              %li.pricing-feature Support at $25/hour
              %li.pricing-feature 1 campaign/month
            %button.btn.btn-success.btn-outline Choose plan
          .pricing-item.pricing-item--featured.wow.fadeInUp{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
            %h3.pricing-title Standard
            %p.pricing-sentence Little description here
            .pricing-price
              %span.pricing-currency> $
              29
              %span.pricing-period / month
            %ul.pricing-feature-list
              %li.pricing-feature 50 presentations/month
              %li.pricing-feature 5 hours of free support
              %li.pricing-feature 10 campaigns/month
            %button.btn.btn-success.btn-lg Choose plan
          .pricing-item.wow.fadeInUp{"data-wow-delay" => "1.7s", "data-wow-duration" => "1s"}
            %h3.pricing-title Enterprise
            %p.pricing-sentence Little description here
            .pricing-price
              %span.pricing-currency> $
              79
              %span.pricing-period / month
            %ul.pricing-feature-list
              %li.pricing-feature Unlimited presentations
              %li.pricing-feature Unlimited support
              %li.pricing-feature Unlimited campaigns
            %button.btn.btn-success.btn-outline Choose plan
  .fh5co-content-style-6
    .container
      .row.p-b.text-center
        .col-md-6.col-md-offset-3
          %h2.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} Explore the impossibility.
          %p.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
      .row
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12.wow.fadeInLeft{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"}
          %a.link-block{:href => "#"}
            %figure
              %img.img-responsive.img-rounded{:alt => "Image", :src => "voltage/images/img_same_dimension_1.jpg"}/
            %h3 Responsive Layout
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            %p
              %a.btn.btn-primary.btn-sm{:href => "#"} Learn More
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12.wow.fadeInLeft{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"}
          %a.link-block{:href => "#"}
            %figure
              %img.img-responsive.img-rounded{:alt => "Image", :src => "voltage/images/img_same_dimension_2.jpg"}/
            %h3 Retina Ready
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            %p
              %a.btn.btn-primary.btn-sm{:href => "#"} Learn More
        .clearfix.visible-sm-block
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12.wow.fadeInLeft{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
          %a.link-block{:href => "#"}
            %figure
              %img.img-responsive.img-rounded{:alt => "Image", :src => "voltage/images/img_same_dimension_3.jpg"}/
            %h3 Creative UI Design
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            %p
              %a.btn.btn-primary.btn-sm{:href => "#"} Learn More
        .col-md-3.col-sm-6.col-xs-6.col-xxs-12.wow.fadeInLeft{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
          %a.link-block{:href => "#"}
            %figure
              %img.img-responsive.img-rounded{:alt => "Image", :src => "voltage/images/img_same_dimension_4.jpg"}/
            %h3 Responsive Layout
            %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            %p
              %a.btn.btn-primary.btn-sm{:href => "#"} Learn More
  .fh5co-counter-style-2{"data-stellar-background-ratio" => "0.5", :style => "background-image: url(voltage/images/full_2.jpg);"}
    .fh5co-overlay
    .container
      .fh5co-section-content-wrap
        .fh5co-section-content
          .row
            .col-md-4.text-center.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"}
              .icon
                %i.icon-command
              %span.fh5co-counter.js-counter{"data-from" => "0", "data-refresh-interval" => "50", "data-speed" => "5000", "data-to" => "28"}
              %span.fh5co-counter-label Clients Worked With
            .col-md-4.text-center.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"}
              .icon
                %i.icon-power
              %span.fh5co-counter.js-counter{"data-from" => "0", "data-refresh-interval" => "50", "data-speed" => "5000", "data-to" => "57"}
              %span.fh5co-counter-label Completed Projects
            .col-md-4.text-center.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
              .icon
                %i.icon-code2
              %span.fh5co-counter.js-counter{"data-from" => "0", "data-refresh-interval" => "50", "data-speed" => "5000", "data-to" => "34023"}
              %span.fh5co-counter-label Line of Codes
  .fh5co-testimonial-style-2#works
    .container
      .row.p-b
        .col-md-6.col-md-offset-3.text-center
          %h2.fh5co-heading.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} works
          -# %p.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .row
        .col-md-4.col-sm-6.col-xs-12
          .fh5co-testimonial-item.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
            .fh5co-name
              %img{:alt => "", :src => "voltage/images/person_5.jpg"}/
              .fh5co-meta
                %h3 Chris Clark
                %span.fh5co-company XYZ Inc.
            .fh5co-text
              %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
        -# .col-md-4.col-sm-6.col-xs-12
        -#   .fh5co-testimonial-item.wow.fadeInUp{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
        -#     .fh5co-name
        -#       %img{:alt => "", :src => "voltage/images/person_4.jpg"}/
        -#       .fh5co-meta
        -#         %h3 Ian Stewart
        -#         %span.fh5co-company XYZ Inc.
        -#     .fh5co-text
        -#       %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. ”
        -# .clearfix.visible-sm-block
        -# .col-md-4.col-sm-6.col-xs-12
        -#   .fh5co-testimonial-item.wow.fadeInUp{"data-wow-delay" => "1.7s", "data-wow-duration" => "1s"}
        -#     .fh5co-name
        -#       %img{:alt => "", :src => "voltage/images/person_3.jpg"}/
        -#       .fh5co-meta
        -#         %h3 Mitch Silk
        -#         %span.fh5co-company XYZ Inc.
        -#     .fh5co-text
        -#       %p “Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
        -# .clearfix.visible-lg-block.visible-md-block
        -# .col-md-4.col-sm-6.col-xs-12
        -#   .fh5co-testimonial-item.wow.fadeInUp{"data-wow-delay" => "2s", "data-wow-duration" => "1s"}
        -#     .fh5co-name
        -#       %img{:alt => "", :src => "voltage/images/person_1.jpg"}/
        -#       .fh5co-meta
        -#         %h3 Beth Glasgow
        -#         %span.fh5co-company XYZ Inc.
        -#     .fh5co-text
        -#       %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. ”
        -# .clearfix.visible-sm-block
        -# .col-md-4.col-sm-6.col-xs-12
        -#   .fh5co-testimonial-item.wow.fadeInUp{"data-wow-delay" => "2.3s", "data-wow-duration" => "1s"}
        -#     .fh5co-name
        -#       %img{:alt => "", :src => "voltage/images/person_2.jpg"}/
        -#       .fh5co-meta
        -#         %h3 Rob Smith
        -#         %span.fh5co-company XYZ Inc.
        -#     .fh5co-text
        -#       %p “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
        -# .col-md-4.col-sm-6.col-xs-12
        -#   .fh5co-testimonial-item.wow.fadeInUp{"data-wow-delay" => "2.6s", "data-wow-duration" => "1s"}
        -#     .fh5co-name
        -#       %img{:alt => "", :src => "voltage/images/person_6.jpg"}/
        -#       .fh5co-meta
        -#         %h3 Colleen Bass
        -#         %span.fh5co-company XYZ Inc.
        -#     .fh5co-text
        -#       %p “Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
        -# .clearfix.visible-sm-block
  / END footer
/ END page
/ jQuery
%script{:src => "voltage/js/jquery.min.js"}
/ jQuery Easing
%script{:src => "voltage/js/jquery.easing.1.3.js"}
/ Bootstrap
%script{:src => "voltage/js/bootstrap.min.js"}
/ Waypoints
%script{:src => "voltage/js/jquery.waypoints.min.js"}
/ Owl Carousel
%script{:src => "voltage/js/owl.carousel.min.js"}
/ Magnific Popup
%script{:src => "voltage/js/jquery.magnific-popup.min.js"}
/ Stellar
%script{:src => "voltage/js/jquery.stellar.min.js"}
/ countTo
%script{:src => "voltage/js/jquery.countTo.js"}
/ WOW
%script{:src => "voltage/js/wow.min.js"}
:javascript
  new WOW().init();
/ Main
%script{:src => "voltage/js/main.js"}
