#fh5co-page
  .fh5co-cover.fh5co-cover-style-2.js-full-height{"data-next" => "yes", "data-stellar-background-ratio" => "0.5", :style => "background-image: url(voltage/images/top.jpg);"}
    %span.scroll-btn.wow.fadeInUp{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
      %a{:href => "#"}
        %span.mouse
          %span
    .fh5co-overlay
    .fh5co-cover-text
      .container
        .row
          .col-md-6.full-height.js-full-height
            .fh5co-cover-intro
              %h1.cover-text-lead.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"} Online branding with nishikoshi inc.
              %h2.cover-text-sublead.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"} webサイトを活用して御社の魅力発信のお手伝いをさせていただきます。
  = render 'aboutus'
  = render 'team'
  = render 'works'
= render 'shared/js_assets'
