.fh5co-footer-style-3
  .container
    .row.p-b
      .col-md-3.col-sm-6.fh5co-footer-widget.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"}
        .fh5co-logo
          %span.logo NK
          Nishikoshi.inc
        %p.fh5co-copyright
          -# \© 2016 Voltage.
          -# = succeed "All" do
          -#   %br/
          -# = succeed "Designed" do
          -#   %br/
          -# %a{:href => "http://freehtml5.co", :target => "_blank"} FREEHTML5.co
          -# = succeed "Created" do
          -#   %br/
          -# %a{:href => "http://freehtml5.co/cards", :target => "_blank"} Cards
          -# %br/
          -# Images:
          -# = succeed "," do
          -#   %a{:href => "http://unsplash.com/", :target => "_blank"} Unsplash
          -# %a{:href => "http://pexels.com/", :target => "_blank"} Pexels
      .col-md-3.col-sm-6.fh5co-footer-widget.wow.fadeInUp{"data-wow-delay" => ".8s", "data-wow-duration" => "1s"}
        %h3 Company
        %ul.fh5co-links
          %li
            %a{:href => "#"} about us
          %li
            %a{:href => "#"} our services
          %li
            %a{:href => "#"} clients
          %li
            %a{:href => "#"} Contact
      .clearfix.visible-sm-block
      .col-md-3.col-sm-6.fh5co-footer-widget.wow.fadeInUp{"data-wow-delay" => "1.1s", "data-wow-duration" => "1s"}
        %h3 Connect
        %ul.fh5co-links.fh5co-social
          %li
            %a{:href => "#"}
              %i.icon.icon-facebook2
              Facebook
          %li
            %a{:href => "#"}
              %i.icon.icon-twitter
              Twitter
          %li
            %a{:href => "#"}
              %i.icon.icon-instagram
              Instagram
      .col-md-3.col-sm-6.fh5co-footer-widget.wow.fadeInUp{"data-wow-delay" => "1.4s", "data-wow-duration" => "1s"}
        %h3 About
        %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        %p
          %a.btn.btn-success.btn-sm.btn-outline{:href => "#"} I'm a button
      .clearfix.visible-sm-block
    -# .row.fh5co-made
    -#   .col-md-12.wow.fadeInUp{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"}
    -#     %p
    -#       Made with
    -#       %i.heart.icon-heart
    -#       in Philippines
